<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoPerfil.png" class="img-fluid" id="fotoperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Vanesa Bastianelli Pratt</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p id="descripcion">¡Hola! Soy Vanesa, amante de todo lo que tenga que ver con el diseño, emprendedora y estudiante en Desarrollo Web Fullstack.
        Soy responsable, aplicada y curiosa. Estoy en la búsqueda constante de nuevos conocimientos dentro de este mundo, nuevo para mí, que se llama Programacion. </p>
    </span>
  </div>

  </div>

